.faq{
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.6re, 0.1rem black;

}
.faq div{
    display: flex;
    justify-content: space-between;
}